@media screen and (max-width: 640px){
  .container{
    max-width:90%;
    width:600px;
    text-align:center;
    margin:0 auto;
  }
  header{
    max-width: 100%;
    height:60px;
    width:100%;
    background-color: rgba(100, 100, 100, 1);
    position:fixed;
    top:0px;
    z-index:10;
  }
  .heading-left{
    float:left;
    color:white;
    font-size: 15px;
  }
  .heading-right{
    float:right;
  }
  .heading-right img{
    display:inline-block;
    width:42px;
    margin-right:6px
  }
  .heading-right a{
    background-color:rgba(255,255,255,0.3);
    padding:12px 10px;
    margin-top:5px;
    color:white;
    cursor:pointer;
    float:right;
  }
  .heading-right a:hover{
    background-color:rgba(255,255,255,0.8);
  }
  .picture img{
    margin-top:60px;
    width:360px;
  }
  .kaisetu{
    background-image:url(IMG_1740.png);
    opacity:0.9;
    background-size:cover;
    padding:5px;
  }
  h1{
    opacity:1.0;
    color:yellow;
  }
  h4{
    opacity:1.0;
    color:#00FFBF;
  }
  .more-info{
    width: 100%;
  }
  .more{
    width:80%;
    padding-top:40px;
    height:150px;
  }
  .more h3{
    font-weight:normal;
    margin-bottom:30px;
    color:#5f5d60;
  }
  .info{
    float:left;
    width:25%;
  }
  .info-box{
    margin:0 auto;
    width:80%;
    position:relative;
  }
  .info-box a{
    position:absolute;
    top:14px;
    left:11px;
    color:black;
    font-size:10px;
    cursor:pointer;
  }
  .info-box img{
    width:100%;
  }
  footer{
    max-width: 100%;
    border-top:1px solid #eee;
    margin-top:30px;
  }
  .footy{
    padding:15px 0px;
  }
  .footy-left{
    float:left;
  }
  .footy-top img{
    width:10%;
    float:left;
  }
  .footy-left p{
    font-size:10px;
    margin-bottom:15px;
    color:#b3aeb5;
    float:left;
  }
}
